/* button */
*{
  box-sizing: border-box;
}
body{
  margin: auto;
}

main{
  margin: 25%;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  border-radius: 3em;
  padding: 0;
  border: none;
  transition: box-shadow 200ms ease-out;
}

button:hover{
  margin-left: -1em;
  margin-right: 1em;
  box-shadow: 0 0.5em 0.5em -0.2em rgba(129, 129, 129, 0.774);
}

img{
  display: inline-block;
  width: 2em;
  height: 2em;
  align-self: center;
  margin: 1em;
}

h2{
  margin: 0;
  width: 0;
  opacity: 0;
  transform: translateY(2em);
}

button:hover h2{
  margin: 0.7em;
  margin-left: 0;
  width: auto;
  opacity: 1;
  transition: 200ms ease-in;
  transform: translateY(0);
}

